name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      -  name: Build and Push Backend Docker Image
         uses: docker/build-push-action@v4
         with:
          context: ./housing-hub-backend1
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/housing-hub-backend:latest
          file: ./housing-hub-backend1/Dockerfile

      - name: Deploy to Server (Placeholder)
        run: |
          echo "Your deployment command goes here."
          echo "This would be a command to connect to your live server and update the running application."